@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

table {
    width: 80%;
    border-collapse: collapse;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
    animation: fadeIn 1s ease;
    box-shadow:
    0 0 60px 30px #fff,
    0 0 100px 60px #f0f,
    0 0 140px 90px #0ff;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background: linear-gradient(to right, #4c8bf5, #3a5bed);
    color: white;
}

td {
    background-color: #f8f8f8;
    transition: background-color 0.3s;
}

tr:nth-child(even) td {
    background-color: white;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
